<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>Reset Password</title>

    <style>
      body {
        /* background-color: powderblue; */
        background-color: #383f45;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* body {
            background-image: url('./background.png');
            height: 100vh;
            position: relative;
        } */

      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .reset-body {
        padding: 4%;
        color: #fff;
        background: #1b232a;
        box-shadow: 0px 6px 15px #54b490;
        border-radius: 1rem;
      }

      .reset-heading {
        color: #2a6acb;
        font-size: 1.6rem;
        padding: 0.4rem;
      }

      .logo {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 800;
        text-decoration: underline;
        color: #54b490;
      }

      .alert_modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999999999999999999;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Calibri;
        font-weight: 900;
      }

      .alert_container {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        animation: 0.5s 1 alert_container_animation;
        -webkit-animation: 35s 1 alert_container_animation;
      }

      @media (min-width: 600px) {
        .alert_container {
          width: 350px;
        }
      }

      @keyframes alert_container_animation {
        0% {
          transform: scale(0.5);
        }

        1% {
          transform: scale(1.1);
        }

        2% {
          transform: scale(1);
        }
      }

      @-webkit-keyframes alert_container_animation {
        0% {
          transform: scale(0.5);
        }

        1% {
          transform: scale(1.1);
        }

        2% {
          transform: scale(1);
        }
      }

      .alert_heading {
        padding: 20px;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
      }

      .alert_details {
        padding: 15px;
        text-align: center;
      }

      .alert_details h2 {
        font-size: 20px;
      }

      .alert_details p {
        font-size: 14px;
        color: #525252;
        line-height: 1.5em;
        margin-top: 5px;
      }

      .alert_footer {
        background-color: #e3e3e3;
        padding: 10px;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .alert_footer span {
        color: #979797;
        cursor: pointer;
      }

      .alert_footer span:hover {
        color: #353535;
      }

      .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border-radius: 0.25rem;
      }

      #togglePassword,#togglePassword-2 {
        position: relative;
        z-index: 10;
        filter: invert(1);
        margin-right: 15px;
      }
    </style>
  </head>

  <body>
    <div>
      <div class="container mt-5">
        <div class="row mx-1 justify-content-center align-items-center">
          <div class="reset-body col-md-6">
            <div class="logo d-flex justify-content-center">
              <h1 class="logo">Space Of Mining</h1>
            </div>
            <h2 class="reset-heading text-center"><b>RESET PASSWORD</b></h2>

            <form class="mt-5" id="myForm" action="" method="POST">
              <div class="mb-3">
                <label id="large" class="form-label">New Password</label>
                <span id="jkl"></span><br />

                <div class="input-wrapper">
                  <input
                    type="password"
                    onkeyup="pass(this)"
                    oninput="abc(this)"
                    class="form-control"
                    onkeypress="return event.charCode != 32"
                    id="password"
                    maxlength="20"
                    autocomplete="off"
                    name="password"
                    value=""
                    placeholder="Enter Your Password"
                    required
                    style="border: none; box-shadow: none"
                  />
                  <i
                    class="far fa-eye"
                    id="togglePassword"
                    style="margin-left: 0px; cursor: pointer"
                  ></i>
                </div>
                <span id="pas" style="color: red"></span><br />
              </div>

              <div class="mb-3">
                <label id="large" class="form-label">Confirm Password</label>
                <div class="input-wrapper">
                  <input
                  
                    type="password"
                    class="form-control"
                    name="confirmpass"
                    value=""
                    onkeyup="cpass(this)"
                    oninput="fun(this)"
                    id="cpassword"
                    onkeypress="return event.charCode != 32"
                    autocomplete="off"
                    maxlength="20"
                    placeholder="Confirm Your Password"
                    required
                    style="border: none; box-shadow: none"
                  />
                  <i
                    class="far fa-eye"
                    id="togglePassword-2"
                    style="margin-left: 0px; cursor: pointer"
                  ></i>
                </div>
                <span id="cerror" style="color: red"></span><br />
              </div>

              <div class="d-grid mt-4">
                <button
                  
                  disabled
                  type="submit"
                  id="submit"
                  class="btn btn-primary"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      //alert  modal box
      const New = {
        status: "success",
        title: "",
        content: "",
        alert: function ({ status, title, content, confirmbtn = true }) {
          var title;
          var status;
          var content;
          var modal = document.createElement("section");
          modal.setAttribute("class", "alert_modal");
          document.body.append(modal);
          var alert = document.createElement("div");
          alert.setAttribute("class", "alert_container");
          modal.appendChild(alert);
          if (title == "" || title == null) {
            title = this.title;
          } else {
            title = title;
          }
          if (status == "" || status == null) {
            status = this.status;
          } else {
            status = status;
          }
          if (content == "" || content == null) {
            content = this.content;
          } else {
            content = content;
          }
          alert.innerHTML = `
                 <div class="alert_heading"></div>
            <div class="alert_details">
                <h2>
                  ${title}
                </h2>
                <p>
                    ${content}

                </p>
            </div>
            <div class="alert_footer"></div>
                 `;

          var alert_heading = document.querySelector(".alert_heading");
          var alert_footer = document.querySelector(".alert_footer");
          if (status == "" || status == "success") {
            alert_heading.innerHTML = `
                    <svg width="80" height="80" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="60" stroke-dashoffset="60" d="M3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="60;0"/></path><path stroke-dasharray="14" stroke-dashoffset="14" d="M8 12L11 15L16 10"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="14;0"/></path></g></svg>
                    `;
            alert_footer.innerHTML = `
                 <span class="close" title="Ok">
                  Ok
                </span>
                 `;
            alert_heading.style =
              "background: linear-gradient(80deg, #67FF86, #1FB397);";
            document.querySelector(".alert_details > h2").style.color =
              "#1FB397";
          } else if (status == "danger" || status == "error") {
            alert_heading.innerHTML = `
                    <svg width="80" height="80" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="60" stroke-dashoffset="60" d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="60;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M12 12L16 16M12 12L8 8M12 12L8 16M12 12L16 8"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/></path></g></svg>
                    `;
            alert_footer.innerHTML = `
                 <span class="close" title="Ok">
                  Ok
                </span>
                 `;
            alert_heading.style =
              " background: linear-gradient(80deg, #FF6767, #B31F1F);";
            document.querySelector(".alert_details > h2").style.color =
              "#B31F1F";
          } else if (status == "info" || status == "confirm") {
            alert_heading.innerHTML = `
                    <svg width="80" height="80" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="60" stroke-dashoffset="60" d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="60;0"/></path><path stroke-dasharray="20" stroke-dashoffset="20" d="M8.99999 10C8.99999 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10C15 10.9814 14.5288 11.8527 13.8003 12.4C13.0718 12.9473 12.5 13 12 14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.4s" values="20;0"/></path></g><circle cx="12" cy="17" r="1" fill="white" fill-opacity="0"><animate fill="freeze" attributeName="fill-opacity" begin="1s" dur="0.2s" values="0;1"/></circle></svg>
                    `;
            confirmbtn == true
              ? (alert_footer.innerHTML = `
                 <span class="accept" title="I approve">
                  I approve
                </span>
                <span class="close" title="I refuse">
                  I refuse
                </span>
                 `)
              : (alert_footer.innerHTML = `
                <span class="close" title="Ok">
               Ok
                </span>
                 `);
            alert_heading.style =
              "background: linear-gradient(80deg, #7ED1FF, #484B95);";
            document.querySelector(".alert_details > h2").style.color =
              "#484B95";
          }
          document
            .querySelector(".alert_footer .close")
            .addEventListener("click", function () {
              alert.remove();
              modal.remove();
            });
          document
            .querySelector(".alert_footer .accept")
            .addEventListener("click", function () {
              alert.remove();
              modal.remove();
            });
          document.querySelector(".alert_footer .accept").onclick = accept;
        },
      };



      // ------validation
      let passwordError = false;
      let CpasswordError = false;

      function pass() {
        var password = document.getElementById("password").value;
        // var letters = /[A-Z]/;
        var reletter = /(\w)\1{2,}/;
        // var nuum = /[0-9]/;
        if (password == "") {
          // document.getElementById("pas").innerHTML = "*A-za-z0-9@!#";
          document.getElementById("pas").innerHTML =
            "Blank password not allowed";
          passwordError = false;
        } else if (reletter.test(password)) {
          document.getElementById("pas").innerHTML =
            "Repeated charchter not allowed";
          passwordError = false;
        } else if (password.search(/[a-zA-z]/) < 0) {
          document.getElementById("pas").innerHTML = "character allowed";
          passwordError = false;
        } else if (password.search(/[0-9]/i) < 0) {
          document.getElementById("pas").innerHTML = "One number is compulsory";
          passwordError = false;
        } else if (password.length <= 6 || password.length >= 20) {
          document.getElementById("pas").innerHTML =
            "Password must be between 6 to 20 digits long";
          passwordError = false;
        } else if (password.search(/[!@#$%^&*]/i) < 0) {
          document.getElementById("pas").innerHTML =
            "one special character must include";
          passwordError = false;
        } else {
          document.getElementById("pas").innerHTML = "";
          passwordError = true;
        }

        console.log("passwordError", passwordError);

        if (passwordError && CpasswordError) {
          document.getElementById("submit").removeAttribute("disabled");
        }
      }
      const togglePassword = document.getElementById("togglePassword");
      const togglePassword2 = document.getElementById("togglePassword-2");
      const password = document.querySelector("#password");
      const passwordConfirm = document.querySelector("#cpassword");
      togglePassword.addEventListener("click", function (e) {
        // toggle the type attribute
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the eye slash icon
        this.classList.toggle("fa-eye-slash");
      });

      togglePassword2.addEventListener("click", function (e) {
        // toggle the type attribute
        const type =
        passwordConfirm.getAttribute("type") === "password" ? "text" : "password";
        passwordConfirm.setAttribute("type", type);
        // toggle the eye slash icon
        this.classList.toggle("fa-eye-slash");
      });

      function cpass() {
        var password = document.getElementById("password").value;
        var cpassword = document.getElementById("cpassword").value;

        if (password != cpassword) {
          document.getElementById("cerror").innerHTML =
            "Passwords are not matching";
          CpasswordError = false;
        } else {
          document.getElementById("cerror").innerHTML = "";
          CpasswordError = true;
        }

        console.log("CpasswordError", CpasswordError);

        if (passwordError && CpasswordError) {
          document.getElementById("submit").removeAttribute("disabled");
        }
      }

      function vallidation() {
        pass();
        cpass();

        if (passwordError == true && CpasswordError == true) {
          alert("Succesfull");
          return true;
        } else {
          return false;
        }
      }

      function fun(input) {
        if (/^\s/.test(input.value)) {
          input.value = "";
          document.getElementById("jkl").innerHTML = "First space not allowed";
        } else {
          document.getElementById("jkl").innerHTML = "";
        }
      }
      function allowed(input) {
        var rgx = /[^a-zA-Z@!#$%&*()\s0-9]/gi;
        input.value = input.value.replace(rgx, "");
      }

      function abc(input) {
        fun(input);
        allowed(input);
      }

      if (passwordError && passwordError) {
        document.getElementById("submit").removeAttribute("disabled");
      }
    </script>
  </body>
</html>
