<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
</head>

<body>

    <body style=" background: #0f0f1a 0% !important;">
        <div style=" background: #0f0f1a;  width: 100%">
            <div>
                <header style="padding-top: 2rem;">


                    {{!-- <img src="http://138.68.104.39/ShoefyBackend/views/logo2.png" alt="logo.png" style="max-width: 35% !important; --}}
                {{!-- width: 31%;
                height: auto!important; margin:auto; display: block;" /> --}}

                </header>
                <h2 class="reset-heading"
                    style="margin-bottom: 1.5rem; color:#4590ff ; font-weight: 800; text-align: center;     font-family: sans-serif;">
                    <b> Oops, this link is expired.</b>
                </h2>

                <p
                    style="  width: 35%; margin:auto; display: block; margin-bottom: 1.5rem;color:#a2a2a2; text-align: center; font-family: system-ui;">
                    This URL is not valid anymore.
                </p>




                <div>
                    <!-- <p style="color: #2f5496; text-align: center;">If that doesn't work, <a href="#">click here</a> </p> -->
                    <p style="color: #2f5496; text-align: center; font-family: sans-serif "><br>
                    </p>
                </div>
                <br>
                <br>
            </div>
            <footer>

            </footer>

        </div>
    </body>
</body>

</html>